<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark colorNavBar">
  <a class="navbar-brand" href="#">Vulnearabilidades OWASP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink='/password-management' routerLinkActive="active">Gestión de contraseñas</a>
      <a class="nav-item nav-link" routerLink='/session-expiration' routerLinkActive="active">Expiración de sesiones</a>
      <a class="nav-item nav-link" routerLink='/logout-process' routerLinkActive="active">Proceso de cierre de sesión</a>
      <a class="nav-item nav-link" routerLink='/recovery-values' routerLinkActive="active">Recuperación de valores de usuario</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>